@model OrderItem;
@{
    ViewData["Title"] = "OrderForm";
}

<h1>OrderForm</h1>

<form asp-action="OrderForm" method="POST">


    <div class="form-group">
        <label asp-for="Email">Enter your email address</label>
        <input type="email" asp-for="Email" placeholder="you@AppDomain.com" 
            class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Speed">Speed</label>
        <input type="number" asp-for="Speed" placeholder="3.5" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HDSize">Hard Drive Storage in TB</label>
        <input type="number" asp-for="HDSize" placeholder="2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RAM">RAM in GB</label>
        <input type="number" asp-for="RAM" placeholder="16" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Processor">Pick an intel processor</label>
        <select asp-for="Processor" class="form-control">
            <option value="none">Pick a processor</option>
            <option value="i3">Intel i3</option>
            <option value="i5">Intel i5</option>
            <option value="i7">Intel i7</option>
            <option value="i9">Intel i9</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Order this computer</button>
        <button class="btn btn-danger" type="reset">Cancel this order</button>
    </div>


</form>

